@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 7%);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
